<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Nature</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>cd.abdogoda.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMemberServlet</display-name>
    <servlet-name>AddMemberServlet</servlet-name>
    <servlet-class>cd.abdogoda.servlet.AddMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemberServlet</servlet-name>
    <url-pattern>/AddMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterProductsServlet</display-name>
    <servlet-name>FilterProductsServlet</servlet-name>
    <servlet-class>cd.abdogoda.servlet.FilterProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterProductsServlet</servlet-name>
    <url-pattern>/FilterProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToFavoriteServlet</display-name>
    <servlet-name>AddToFavoriteServlet</servlet-name>
    <servlet-class>cd.abdogoda.servlet.AddToFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToFavoriteServlet</servlet-name>
    <url-pattern>/AddToFavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageServlet</display-name>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>cd.abdogoda.servlet.SendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/SendMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarkAsRead</display-name>
    <servlet-name>MarkAsRead</servlet-name>
    <servlet-class>cd.abdogoda.servlet.MarkAsRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkAsRead</servlet-name>
    <url-pattern>/MarkAsRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveMessage</display-name>
    <servlet-name>RemoveMessage</servlet-name>
    <servlet-class>cd.abdogoda.servlet.RemoveMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMessage</servlet-name>
    <url-pattern>/RemoveMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPermission</display-name>
    <servlet-name>AddPermission</servlet-name>
    <servlet-class>cd.abdogoda.servlet.AddPermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPermission</servlet-name>
    <url-pattern>/AddPermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPermissionServlet</display-name>
    <servlet-name>EditPermissionServlet</servlet-name>
    <servlet-class>cd.abdogoda.servlet.EditPermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPermissionServlet</servlet-name>
    <url-pattern>/EditPermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePermission</display-name>
    <servlet-name>DeletePermission</servlet-name>
    <servlet-class>cd.abdogoda.servlet.DeletePermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePermission</servlet-name>
    <url-pattern>/DeletePermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobServlet</display-name>
    <servlet-name>AddJobServlet</servlet-name>
    <servlet-class>cd.abdogoda.servlet.AddJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobServlet</servlet-name>
    <url-pattern>/AddJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditJobPermissionsServlet</display-name>
    <servlet-name>EditJobPermissionsServlet</servlet-name>
    <servlet-class>cd.abdogoda.servlet.EditJobPermissionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJobPermissionsServlet</servlet-name>
    <url-pattern>/EditJobPermissionsServlet</url-pattern>
  </servlet-mapping>
</web-app>